/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; 
}

* {box-sizing: border-box;}


body {font-family: arial;}

ul {list-style-type: none;}

a {transition: all .3s;}

a:link {text-decoration: none;}

a:visited {text-decoration: none;}

a:hover {text-decoration: none;}

a:active {text-decoration: none;}

header {
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 14.2vw;
    background-color: #FFF;
    padding: 0 25px;
}
.nav a {
    color: #353535;
}

.nav a:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #353535;
}

#page-title {
    width: 20vw;
    font-weight: bold;
    color: #353535;
}

#nav-sections {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    margin-top: 10px;
    font-size: 9vmin;
    color: #353535;
    font-weight: bold;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

#nav-sections li {
    
}

#nav-sections li:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #353535;
    transition: all .3s;
}

#about, #contact {
    color: #353535;
    text-align: right;
}

.modal-dimmer {
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: #353535;
    opacity: .7;
}

.modal-dimmer:hover {cursor: alias;}

.modal {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #353535;
    animation-name: slideInRight;
    animation-duration: .5s;
}

.modal:hover {cursor: alias;}

@keyframes slideInRight {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}

.modal-body {
    padding-top: 75px;
    padding-left: 25px;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 300;
}

#about-modal-body {
    width: 50%;
    height: 500px;
}

.modal ul {
    text-align: right;
    width: auto;
}

.contact {
    height: 35px;
    padding-right: 25px;
    width: auto;
}


.contact a {color: #FFF;}

.contact a {transition: all .3s;}

.contact a:hover {
    cursor: pointer;
    color: #353535;
    background-color: #FFF;
    transition: all .3s;
}

.highlight {
    background-color: #FFF;
    color: #353535;
}

#kylechetahmet {transition: all .3s;}

#exhibits-awards {
    position: fixed;
    height: 300px;
    left: 25px;
    top: 420px;
    z-index: 15;
    font-weight: 300;
}

#exhibits-awards-title:hover {
    cursor: pointer;
    background-color: #353535;
    color: #FFF;
}

#exhibits-awards-title {
    width: 125px;
    font-size: 1.3em;
    color: #353535;
    background-color: #FFF;
}


.exhibits-awards-list {
    
    height: 25px;
    font-size: 1em;
    background-color: #353535;
    color: #FFF;
}

.project-roll {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    opacity: 0;
    width: 100%;
    padding-top: 17vw;
    padding-left: 25px;
    
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.project-img-wrapper {
    width: 100%;
    background-color: #353535;
    overflow: hidden;
    margin-bottom: 25px;
    margin-right: 25px;
    animation-name: fadeIn;
    animation-duration: 2s;
    
    animation-fill-mode: forwards;
}


.project-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%);
    transition: all .5s;
}

.project-img-overlay {
    display: none;
}

.project-img:hover {
    transform: scale(.95);
    -webkit-filter: grayscale(0%);
}

.dimmer {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    background-color: #353535;
    opacity: .7;
}

.dimmer:hover {cursor: alias;}

.set-description {
    margin-top: 5px;
    background-color: #353535;
    color: #FFF;
    font-size: 1em;
}

.set-title {font-size: 1.2em;}

.lightbox {
    position: fixed;
    z-index: 11;
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: 15% 5% 0 5%;
}

.lightbox-img {max-width: 100%;}

.lightbox-img:hover {cursor: e-resize;}


@media only screen and (min-width: 800px) {
    header {
        height: 150px;
    }
    .project-roll {
    display: inline-block;
    text-align: center;
    opacity: 0;
    width: 100%;
    padding-top: 200px;
    padding-left: 2vh;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.project-img-wrapper {
    display: inline-block;
    width: 28vw;
    height: 28vw;
    background-color: #353535;
    overflow: hidden;
    margin-bottom: 2vh;
    margin-right: 2vh;
}

.project-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%);
    transition: all .5s;
}
    
    .lightbox {
        margin-top: 115px;
    }
}